<h1>Article List</h1>
<%= link_to "Home" , root_path %>
<%= link_to "Create Article" , new_article_path %>
<br/>
<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>actions</th>
  </tr>
  <% @articles.each do |a| %>
    <tr>
      <td><%= a.title %></td>
      <td><%= a.description %></td>
      <td>
        <%= link_to "edit", edit_article_path(a) %>
        <%= link_to "show", article_path(a) %>
        <%= link_to "deleted", article_path(a), method: :delete, data: {confirm: "Are you sure?"} %>
      </td>
    </tr>
  <% end %>

</table>
